* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

h1{
    text-align: center;
    font-size: 1.75em;
}
#chicken{
    border:1px black solid;
    width:100px;
    text-align: center;
    float: right;
    color:black;
    background-color: rgb(219, 138, 80);
    font-size: 1.25em;
}
#beef{
    border:1px black solid;
    width: 100px;
    text-align: center;
    float: right;
    color:white;
    background-color: crimson;
    }
#sushi{
    border:1px black solid;
        width: 100px;
        text-align: center;
        float: right;
        color:black;
        background-color:blanchedalmond  ;
        }

p{
    float:left; /*to keep paragraph on left and not coinide with headings - chicken, beef or sushi*/
    margin:10px; /*to keep some spaces around the paragraph content*/
  }   

section{
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    overflow: auto;
    border:black;
    background-color: rgb(224, 181, 181);
    border:1px black solid;
 } 
/* Simple Responsive Framework. */
.row {
    width: 90%; /*to keep the white spacing in the right most end of the page when the window width is reduced.*/
  }

/********** Large devices only (ex: Desktop) **********/
@media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left;
      }
    .col-lg-1 {
      width: 8.33%;
    }
    .col-lg-2 {
      width: 16.66%;
    }
    .col-lg-3 {
      width: 25%;
    }
    .col-lg-4 {
      width: 30.00%; /*to allow the space for margin of the sections*/
    }
    .col-lg-5 {
      width: 41.66%;
    }
    .col-lg-6 {
      width: 50%;
    }
    .col-lg-7 {
      width: 58.33%;
    }
    .col-lg-8 {
      width: 66.66%;
    }
    .col-lg-9 {
      width: 74.99%;
    }
    .col-lg-10 {
      width: 83.33%;
    }
    .col-lg-11 {
      width: 91.66%;
    }
    .col-lg-12 {
      width: 100%;
    }
  }
  
  /********** Medium devices (ex: Tabs) **********/
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: left;
    }
    .col-md-1 {
      width: 8.33%;
    }
    .col-md-2 {
      width: 16.66%;
    }
    .col-md-3 {
      width: 25%;
    }
    .col-md-4 {
      width: 33.33%;
    }
    .col-md-5 {
      width: 41.66%;
    }
    .col-md-6 {
      width: 45%;  /*adjusted for margin left*/
    }
    .col-md-7 {
      width: 58.33%;
    }
    .col-md-8 {
      width: 66.66%;
    }
    .col-md-9 {
      width: 74.99%;
    }
    .col-md-10 {
      width: 83.33%;
    }
    .col-md-11 {
      width: 91.66%;
    }
    .col-md-12 {
      width: 92.5%;
    }
  }
  /********** Small devices (ex: Mobile)**********/
  @media (max-width: 767px) {
    .col-ld-1, .col-ld-2, .col-ld-3, .col-ld-4, .col-ld-5, .col-ld-6, .col-ld-7, .col-ld-8, .col-ld-9, .col-ld-10, .col-ld-11, .col-ld-12 {
      float: left;
    }
    .col-ld-1 {
      width: 8.33%;
    }
    .col-ld-2 {
      width: 16.66%;
    }
    .col-ld-3 {
      width: 25%;
    }
    .col-ld-4 {
      width: 33.33%;
    }
    .col-ld-5 {
      width: 41.66%;
    }
    .col-ld-6 {
      width: 50%;
    }
    .col-ld-7 {
      width: 58.33%;
    }
    .col-ld-8 {
      width: 66.66%;
    }
    .col-ld-9 {
      width: 74.99%;
    }
    .col-ld-10 {
      width: 83.33%;
    }
    .col-ld-11 {
      width: 91.66%;
    }
    .col-ld-12 {
      width: 100%;
    }
  }